<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image Processing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var cek = '';
            $('input[type="file"]').change(function(e){
                if ($('input[type="file"]').get(0).files.length > 0){
                    var namafile = e.target.files[0].name;
                    console.log(namafile);
                    cek = namafile
                    $('#namefile').val(namafile);
                }else{
                    $('#namefile').val('Silahkan Pilih File');
                }
            });
            $('#unggah').click(function(){
                if (!cek){
                    $('#namefile').val('Silahkan Pilih File');
                }
            });
            $('#2').click(function(){
                $('#task2').addClass('taskopen');
                $('#task2').removeClass('hiddensec');
                $('#task3').addClass('hiddensec');
                $('#task3').removeClass('taskopen');
                $('#task4').addClass('hiddensec');
                $('#task4').removeClass('taskopen');
                $('#task5').addClass('hiddensec');
                $('#task5').removeClass('taskopen');
                $('#task6').addClass('hiddensec');
                $('#task6').removeClass('taskopen');
                $('#task7').addClass('hiddensec');
                $('#task7').removeClass('taskopen');
                $('#task8').addClass('hiddensec');
                $('#task8').removeClass('taskopen');
            });
            $('#3').click(function(){
                $('#task3').addClass('taskopen');
                $('#task3').removeClass('hiddensec');
                $('#task2').addClass('hiddensec');
                $('#task2').removeClass('taskopen');
                $('#task4').addClass('hiddensec');
                $('#task4').removeClass('taskopen');
                $('#task5').addClass('hiddensec');
                $('#task5').removeClass('taskopen');
                $('#task6').addClass('hiddensec');
                $('#task6').removeClass('taskopen');
                $('#task7').addClass('hiddensec');
                $('#task7').removeClass('taskopen');
                $('#task8').addClass('hiddensec');
                $('#task8').removeClass('taskopen');
            });
            $('#4').click(function () {
                $('#task4').addClass('taskopen');
                $('#task4').removeClass('hiddensec');
                $('#task2').addClass('hiddensec');
                $('#task2').removeClass('taskopen');
                $('#task3').addClass('hiddensec');
                $('#task3').removeClass('taskopen');
                $('#task5').addClass('hiddensec');
                $('#task5').removeClass('taskopen');
                $('#task6').addClass('hiddensec');
                $('#task6').removeClass('taskopen');
                $('#task7').addClass('hiddensec');
                $('#task7').removeClass('taskopen');
                $('#task8').addClass('hiddensec');
                $('#task8').removeClass('taskopen');
            });
            $('#5').click(function () {
                $('#task5').addClass('taskopen');
                $('#task5').removeClass('hiddensec');
                $('#task2').addClass('hiddensec');
                $('#task2').removeClass('taskopen');
                $('#task3').addClass('hiddensec');
                $('#task3').removeClass('taskopen');
                $('#task4').addClass('hiddensec');
                $('#task4').removeClass('taskopen');
                $('#task6').addClass('hiddensec');
                $('#task6').removeClass('taskopen');
                $('#task7').addClass('hiddensec');
                $('#task7').removeClass('taskopen');
                $('#task8').addClass('hiddensec');
                $('#task8').removeClass('taskopen');
            });
            $('#6').click(function(){
                $('#task6').addClass('taskopen');
                $('#task6').removeClass('hiddensec');
                $('#task2').addClass('hiddensec');
                $('#task2').removeClass('taskopen');
                $('#task3').addClass('hiddensec');
                $('#task3').removeClass('taskopen');
                $('#task4').addClass('hiddensec');
                $('#task4').removeClass('taskopen');
                $('#task5').addClass('hiddensec');
                $('#task5').removeClass('taskopen');
                $('#task7').addClass('hiddensec');
                $('#task7').removeClass('taskopen');
                $('#task8').addClass('hiddensec');
                $('#task8').removeClass('taskopen');
            });
            $('#7').click(function(){
                $('#task7').addClass('taskopen');
                $('#task7').removeClass('hiddensec');
                $('#task2').addClass('hiddensec');
                $('#task2').removeClass('taskopen');
                $('#task3').addClass('hiddensec');
                $('#task3').removeClass('taskopen');
                $('#task4').addClass('hiddensec');
                $('#task4').removeClass('taskopen');
                $('#task5').addClass('hiddensec');
                $('#task5').removeClass('taskopen');
                $('#task6').addClass('hiddensec');
                $('#task6').removeClass('taskopen');
                $('#task8').addClass('hiddensec');
                $('#task8').removeClass('taskopen');
            });
            $('#8').click(function () {
                $('#task8').addClass('taskopen');
                $('#task8').removeClass('hiddensec');
                $('#task2').addClass('hiddensec');
                $('#task2').removeClass('taskopen');
                $('#task3').addClass('hiddensec');
                $('#task3').removeClass('taskopen');
                $('#task4').addClass('hiddensec');
                $('#task4').removeClass('taskopen');
                $('#task5').addClass('hiddensec');
                $('#task5').removeClass('taskopen');
                $('#task6').addClass('hiddensec');
                $('#task6').removeClass('taskopen');
                $('#task7').addClass('hiddensec');
                $('#task7').removeClass('taskopen');
            });
        });
    </script>
</head>
<body>
    <header class="mb-3">
        Image Processing Assignment
    </header>
    <main>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="container-fluid center-inline">
                    <div id='locate'>
                        {% if filename %}
                        <img class="mb-4 mt-4 center" src="{{ url_for('static', filename=filename) }}" alt="">
                        <div>
                            <p id="size">Size : {{ width }} x {{ height }}</p>
                        </div>
                        {% else %}
                        <img class="mb-4 mt-4 center" src="{{ url_for('static', filename='no.jpg') }}" alt="">
                        {% endif %}
                    </div>
                    <div class="container">
                        <div class="d-lg-flex flex-row justify-content-center">
                            <div class="p-2 justify-content-center">
                                <form action="/upload" method="POST" enctype="multipart/form-data">
                                    <div class="d-flex flex row justify-content-center">
                                        <div class='pr-2 pl-2'>
                                            <input type="file" class="btn" id="gambar" name="gambar" accept="imager/*" required>
                                            <label for="gambar" class="btn btn-success">Choose File</label>
                                            <input type="text" class="custom-text" name="namefile" id="namefile" value="Silahkan Pilih File" disabled>
                                        </div>
                                        <div class='pr-2 pl-2'>
                                            <button type="submit" id= "unggah" class="btn btn-success">Unggah</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="p-2 justify-content-center">
                                <form action="/normal" method="POST" enctype="multipart/form-data">
                                    {% if filename %}
                                    <button type="submit" class="btn btn-success">Kembali ke Normal</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-success" disabled>Kembali ke Normal</button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="navigasi" class="container-fluid">
                    <ul>
                        <li id="2">Task 2</li>
                        <li id="3">Task 3</li>
                        <li id="4">Task 4</li>
                        <li id="5">Task 5</li>
                        <li id="6">Task 6</li>
                        <li id="7">Task 7</li>
                        <li id="8">Task 8</li>
                    </ul>
                </div>
                <div class="container-fluid hiddensec" id="task2">
                    <h3>Task 2</h3>
                    <div class="d-flex justify-content-center">
                        <form class="mb-2" action="/grayscale" method="POST" enctype="multipart/form-data">
                            {% if filename %}
                            <button type="submit" class="btn btn-success">Grayscale</button>
                            {% else %}
                            <button type="submit" class="btn btn-success" disabled>Grayscale</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="container-fluid hiddensec" id="task3">
                    <h3>Task 3</h3>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="p-1">
                            <form class="mb-2" action="/intensitasplus" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Intensitas +50</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Intensitas +50</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="p-1">
                            <form class="mb-2" action="/intensitasminus" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Intensitas -50</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Intensitas -50</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="p-1">
                            <form class="mb-2" action="/intensitaskali" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Intensitas x2</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Intensitas x2</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="p-1">
                            <form class="mb-2" action="/intensitasbagi" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Intensitas /2</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Intensitas /2</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="p-1">
                            <form class="mb-2" action="/perbesar" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Perbesar x2</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Perbesar x2</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="p-1">
                            <form class="mb-2" action="/perkecil" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Perkecil x2</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Perkecil x2</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="p-1">
                            <form class="mb-2" action="/crop" method="POST" enctype="multipart/form-data">
                                <h4>Crop</h4>
                                <label for="widht">Widht : </label>
                                <input type="number" name="widthf" id="widthf"> - <input type="number" name="widthd" id="widthd">
                                <label for="widht">Height : </label>
                                <input type="number" name="heightf" id="heightf"> - <input type="number" name="heightd" id="heightd">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Crop</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Crop</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid hiddensec" id="task4">
                    <h3>Task 4</h3>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="p-1">
                            <form class="mb-2" action="/histogram" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Histogram</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Histogram</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="p-1">
                            <form class="mb-2" action="/histeq" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Histogram Equalization</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Histogram Equalization</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid hiddensec" id="task5">
                    <h3>Task 5</h3>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="p-1">
                            <form class="mb-2" action="/blur" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Blur</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Blur</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="p-1">
                            <form class="mb-2" action="/sharp" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Sharp</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Sharp</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="p-1">
                            <form class="mb-2" action="/edge" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" class="btn btn-success">Edge</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Edge</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid hiddensec" id="task6">
                    <h3>Task 6</h3>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="p-1">
                            {% if filename %}
                            <a href="/threshold_view"><button type="button" class="btn btn-success">Threshold Base</button></a>
                            {% else %}
                            <button type="submit" class="btn btn-success" disabled>Threshold Base</button>
                            {% endif %}
                        </div>
                        <div class="p-1">
                            {% if filename %}
                            <a href="/region_view"><button type="button" class="btn btn-success">Region Growth</button></a>
                            {% else %}
                            <button type="submit" class="btn btn-success" disabled>Region Growth</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="container-fluid hiddensec" id="task7">
                    <h3>Task 7</h3>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="p-1">
                            <form class="mb-2" action="/tebal" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" value="tebal" name="tebal" class="btn btn-success">Penebalan</button>
                                {% else %}
                                <button type="submit" value="tebal" name="tebal" class="btn btn-success" disabled>Penebalan</button>
                                {% endif %}
                            </form>
                            <form class="mb-2" action="/tipis" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                <button type="submit" value="tipis" name="tipis" class="btn btn-success">Penipisan</button>
                                {% else %}
                                <button type="submit" value="tipis" name="tipis" class="btn btn-success" disabled>Penipisan</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid hiddensec" id="task8">
                    <h3>Task 8</h3>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="p-1">
                            <form class="mb-2" action="/kompresi" method="POST" enctype="multipart/form-data">
                                {% if filename %}
                                {% if size %}
                                <p>Size : {{ size }} Bytes</p>
                                {% endif %}
                                <button type="submit" class="btn btn-success">Quantization</button>
                                {% else %}
                                <button type="submit" class="btn btn-success" disabled>Quantization</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                {% if filename1 %}
                <h3 class="mt-1">Histogram</h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img class="mb-2" width="500" height="400" src="{{ url_for('static', filename=filename1) }}" alt="">
                        </div>
                        {% if filename2 %}
                        <div class="col-lg-6 col-md-6">
                            <img class="mb-2" width="500" height="400" src="{{ url_for('static', filename=filename2) }}" alt="">
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
    <footer>
        Copyright © 2019 - NJI
    </footer>
</body>
</html>